label {
  display: inline-block;
}

input,
textarea {
  display: inline-block;
  font-family: arial;
  margin: 5px 10px 5px 40px;
  padding: 15px 12px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 60%;
  font-size: small;
}

input[type='submit'] {
  padding: 10px 15px;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #5e43dd;
}

input[type='submit']:hover {
  background-color: #ccceee;
}

.msg {
  margin-left: 24px;
  font-style: italic;
  color: red;
  font-size: 0.9em;
}

html {
  height: 100%;
}

body {
  font-family: 'Host Grotesk', sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 8%;
}

.login-form {
  padding: 0;
  width: 400px;
  padding-top: 1vw;
  text-align: left;
}

.login-form > input {
  padding: 10px;
  margin: 10px 0px;
  width: 400px;
}

p {
  text-align: left;
  font-size: 1.2vw;
}

::placeholder {
  color: #c0c0c0;
}

.btn {
  color: white;
}

.btn-primary btn {
  color: #5e43dd;
}

.btn-link {
  text-decoration: none;
}

.button {
  background-color: #5e43dd;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.navbar-brand img {
  height: 50px;
  margin-right: 20px;
}

.card {
  box-shadow: 10px 10px;
  color: #c0c0c0;
  min-width: 200px;
  min-height: 400px;
  margin: 16px;
}

.card-body {
  text-align: left;
  padding: auto;
  color: black;
  height: 28vh;
}

.card-header {
  color: #5e43dd;
  font-weight: bold;
  height: 5vh;
}

.card-body p {
  font-size: 1rem;
}

.card-body-submit {
  text-align: left;
  padding: auto;
  color: black;
  padding-bottom: 5%;
}

.browse-more {
  padding-top: 5%;
  padding-right: 10%;
  text-align: right;
}

.button {
  padding: 5%;
  color: #5e43dd;
  background-color: white;
  border-color: #5e43dd;
  border-radius: 5%;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: row;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.category {
  padding-left: 10%;
  padding-bottom: 3%;
}

.child1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
}

.header {
  text-align: left;
  font-size: 2vw;
}

.child2 {
  width: 100%;
  padding: 10%;
  text-align: center;
  object-fit: contain;
  object-position: center;
}

.child2 img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.hero {
  padding: 3%;
  margin-bottom: 5%;
  text-align: left;
  width: 100%;
  background: url('./images/hero.png');
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}

.main-container {
  padding: 3%;
  margin-bottom: 5%;
  text-align: left;
  width: 100%;
}

.hero h1 {
  padding-top: 2%;
}

.profile-container {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.select {
  text-align: center;
}

.form-section {
  padding: 5%;
}

.main {
  display: flex;
}

.sidebar {
  width: 25%;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
}

.main-content {
  padding: 20px;
  width: 75%;
}

.team-card,
.trade-card,
.player-card {
  border: 1px solid #ddd;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-control {
  width: 70%;
}

.section {
  margin-bottom: 20%;
}